<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wycena3000</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"
            async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"
            async></script>
</head>
<body>

<!-- navigation bar on top -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Wycena3000</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/main/resources/templates/index.html"
                       th:href="@{/}">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/resources/templates/project/projects_all.html"
                       th:href="@{/creator/projects/all}">Projekty</a>
                </li>
                <li>
                    <a class="nav-link" href="/main/resources/templates/board/board_all.html" th:href="@{/creator/boards/all}">
                        Płyty
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/main/resources/templates/partRepository/part_all.html" th:href="@{/creator/parts/all}">
                        Elementy
                    </a>
                </li>

            </ul>
            <a href="/main/resources/templates/partRepository/part_add.html" th:href="@{/creator/parts/add}"
               class="btn btn-success mx-1">Dodaj Element</a>
            <a href="/main/resources/templates/board/board_add.html" th:href="@{/creator/boards/add}"
               class="btn btn-success mx-1">Dodaj Płytę</a>
            <a href="/main/resources/templates/project/edit_project.html" th:href="@{/creator/projects/add}"
               class="btn btn-success mx-1">Dodaj Projekt</a>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-warning mx-3" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<!-- Main content -->
<div class="container">
    <!-- Project summary -->
    <div class="card my-1 p-2 align-content-around">
        <div class="row p-lg-3 g-2">
            <h3 th:text="${'Wycena ''' + project.name + ''''}">Nazwa projektu</h3>
            <p th:text="${'Data utworzenia: ' + project.created}">Data utworzenia: dzisiaj</p>
            <p th:text="${'Data aktualizacji: ' + project.modified}">Data aktualizacji: dzisiaj</p>
            <p th:text="${'Całkowity koszt: ' + project.totalCost}">Koszt</p>
        </div>
        <div class="row p-lg-3 g-2">
            <a href="/main/resources/templates/project/project_edit.html"
            th:href="@{/creator/projects/edit/__${project.id}__}"
            class="btn btn-outline-primary">Edytuj projekt</a>
        </div>
        <div class="row p-lg-3 g-2 my-2 align-items-center">
            <h6>Dodane płyty:</h6>
            <ul class="list-group">
                <li class="list-group-item" th:each="boardByProjectDto : ${boardsInProject}">
                    <div class="row flex-fill">
                        <div class="col" th:text="${boardByProjectDto.name}">Pierwsza płyta</div>
                        <div class="col text-end">
                            <a class="btn btn-outline-success m-2"
                               href="/main/resources/templates/board/board_change.html"
                               th:href="@{/creator/boards/change?boardId=__${boardByProjectDto.boardId}__&projectId=__${project.id}__}">
                                Zmień płytę
                            </a>
                        </div>
                    </div>
                    <table class="table table-sm table-striped">
                        <tr th:each="measurement : ${project.getMeasurements}"
                            th:if="${boardByProjectDto.boardId == measurement.getKey().board.id}">
                            <td style="text-align: center"
                                th:text="${measurement.getKey().height + ' x ' + measurement.getKey().width}">Wymiary
                            </td>
                            <td style="text-align: right">ilość:</td>
                            <td style="text-align: left" th:text="${measurement.getValue()}">Ilość</td>
                        </tr>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p th:utext="${'Całkowita powierzchnia: ' + boardByProjectDto.totalArea + 'm<sup>2</sup>'}">
                                    Całkowita wielkość: 3,4m2</p>
                                <p th:text="${'Całkowita cena: ' + boardByProjectDto.totalCost + 'zł'}">Całkowita cena:
                                    203 zł</p>
                            </li>
                        </ul>
                    </table>

                </li>
            </ul>
        </div>
        <div class="row p-lg-3 g-2 align-items-center">
            <h6>Dodane Elementy:</h6>
            <ul class="list-group">
                <li class="list-group-item" th:each="type : ${partTypes}">
                    <div class="row flex-fill">
                        <div class="col" th:text="${type.name}">Typ rzeczy</div>
                    </div>
                    <table class="table table-sm table-striped">
                        <tr th:each="part : ${project.parts}"
                            th:if="${part.getKey().getPartType.id == type.id}">
                            <td style="text-align: center" th:text="${part.getKey().name}">Nazwa</td>
                            <td style="text-align: center" th:text="${part.getKey().price + ' zł'}">Cena</td>
                            <td style="text-align: right">ilość</td>
                            <td style="text-align: left" th:text="${part.getValue()}">Ilość</td>
                            <td class="col text-end">
                                <a class="btn btn-outline-success m-2"
                                   href="/main/resources/templates/partRepository/board_change.html"
                                   th:href="@{/creator/parts/change?partId=__${part.key.id}__&projectId=__${project.id}__}">
                                    Zmień element
                                </a>
                            </td>
                        </tr>

                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>