<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wycena3000</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"
        async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"
        async></script>
</head>

<body>

    <!-- navigation bar on top -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text="#{page.service-name}">Wycena3000</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/main/resources/templates/index.html"
                            th:href="@{/}" th:text="#{index.body.main-page}">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/resources/templates/project/projects_all.html"
                            th:href="@{/creator/projects/all}" th:text="#{index.body.projects}">Projekty</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/main/resources/templates/board/board_all.html"
                            th:href="@{/creator/boards/all}" th:text="#{index.body.boards}">
                            Płyty
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/main/resources/templates/partRepository/part_all.html"
                            th:href="@{/creator/parts/all}" th:text="#{index.body.parts}">
                            Elementy
                        </a>
                    </li>

                </ul>
                <div sec:authorize="isAuthenticated()">
                    <a href="/main/resources/templates/partRepository/part_add.html" th:href="@{/creator/parts/add}"
                        class="btn btn-success mx-1" th:text="#{index.body.parts.add}">Dodaj Element</a>
                    <a href="/main/resources/templates/board/board_add.html" th:href="@{/creator/boards/add}"
                        class="btn btn-success mx-1" th:text="#{index.body.boards.add}">Dodaj Płytę</a>
                    <a href="/main/resources/templates/project/edit_project.html" th:href="@{/creator/projects/add}"
                        class="btn btn-success mx-1" th:text="#{index.body.projects.add}">Dodaj Projekt</a>
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-warning mx-1" type="submit" th:text="#{index.body.logout}">Wyloguj</button>
                    </form>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a href="/main/resources/templates/board/board_add.html" th:href="@{#}"
                        class="btn btn-secondary mx-1" th:text="#{index.body.register}">Rejestracja</a>
                    <a href="/main/resources/templates/project/edit_project.html" th:href="@{/user/login}"
                        class="btn btn-success mx-1" th:text="#{index.body.login}">Logowanie</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container-fluid">
        <div class="column col-8">
            <div class="row px-5 py-5"></div>
            <div class="row px-5 py-4">
                <h3>
                    <span th:text="#{index.tutorial.welcome}">Witaj w edytorze wycen stolarskich </span>
                    <b th:text="#{page.service-name}">Wycena3000</b>
                </h3>
                <div class="text-body">
                    <span th:text="#{index.tutorial.step-1-1}">Podstawowym celem tej aplikacji jest uproszczenie procesu tworzenia wyceny dla klienta. Interfejs
                        użytkownika jest prosty i przypomina wpisywanie danych na kalkulatorze.</span>
                    <br>
                    <span th:text="#{index.tutorial.step-1-2}">W kilka kroków można dokładnie sprawdzić ile projekt będzie kosztować i jaką cenę najlepiej
                        podać klientowi.</span>
                </div>
            </div>
            <div class="row px-5 py-4">
                <h5 th:text="#{index.tutorial.step-1.list.header}">Czego potrzeba do rozpoczęcia pracy z aplikacją?</h5>
                <ul class="list-group">
                    <li class="list-group-item">✅ <span th:text="#{index.tutorial.step-1.list-1}">Lista materiałów wraz z ich cenami</span></li>
                    <li class="list-group-item">✅ <span th:text="#{index.tutorial.step-1.list-2}">Płyty, blaty i fronty użyte w projekcie oraz ich ceny</span></li>
                    <li class="list-group-item">✅ <span th:text="#{index.tutorial.step-1.list-3}">10 minut czasu</span></li>
                </ul>

            </div>
            <div class="row px-5 py-4">
                <ul>
                    <li class="list-group-item list-group-item-success" th:text="#{index.tutorial.step-2}">Zanim zanurkujesz w aplikacji i klikniesz "Dodaj
                        projekt", proponuję najpierw dodać potrzebne elementy i blaty do bazy danych.</li>
                </ul>
            </div>
            <div class="row px-5 py-2">
                <p><strong>1.</strong> <span th:text="#{index.tutorial.step-3.add-part}">Dodaj element poprzez przycisk </span><a href="#"
                        class="btn btn-success mx-1" th:text="#{page.button.part.add}">Dodaj Element</a>.
                    <span th:text="#{index.tutorial.step-3.choose_from_list}">Wybierz z listy pasujący </span>
                    <b th:text="#{index.tutorial.step-3.type}">rodzaj</b>,
                    <span th:text="#{index.tutorial.step-3.choose}">wybierz</span>
                    <b th:text="#{index.tutorial.step-3.name}">nazwę</b>,
                    <span th:text="#{index.tutorial.step-3.that-is-easy-to-rem}">która będzie dla Ciebie łatwo rozpoznawalna i dodaj </span>
                    <b th:text="#{index.tutorial.step-3.price}">cenę</b>. <br>
                    <span th:text="#{index.tutorial.step-3.you-can-change-it-all}">Wszystkie te dane będziesz mógł później zmienić w razie potrzeby.</span>
                </p>
                <img class="img-fluid border border-2 border-dark" src="/main/resources/static/images/add_part.png"
                    alt="Dodaj element" th:src="@{/images/add_part.png}">
            </div>
            <div class="row px-5 py-4">
                <p><strong>2.</strong> <span th:text="#{index.tutorial.step-4.part-1}">Po dodaniu wszystkich elementów, analogiczne dodaj płyty poprzez przycisk</span> <a href="#"
                    class="btn btn-success mx-1" th:text="#{page.button.board.add}">Dodaj Płytę</a>.
                    <span th:text="#{index.tutorial.step-4.part-2}">Jedyną zmianą jest możliwość dodania kodu płyty, ale jest to pole nieobowiązkowe.</span></p>
                    <img class="img-fluid border border-2 border-dark" src="/main/resources/static/images/add_board.png"
                    alt="Dodaj płytę" th:src="@{/images/add_board.png}">
            </div>
            <div class="row px-5 py-3">
                <p><strong>3.</strong><span th:text="#{index.tutorial.step-5.part-1}">Kiedy wszystkie źródła kosztów są wprowadzone do systemu, kliknij </span><a href="#"
                    class="btn btn-success mx-1" th:text="#{index.body.projects.add}">Dodaj Projekt</a>
                    <span th:text="#{index.tutorial.step-4.part-3}">, wpisz unikalną nazwę projektu oraz, opcjonalnie, komentarz.</span></p>
            </div>
            <div class="row px-5 py-3">
                <p><strong>4.</strong> <span th:text="#{index.tutorial.step-6.part-1}">Program przekieruje Cię do widoku edycji wyceny. Tutaj dodaj wszystkie wymiary poszczególnych płyt,
                    elementy, jak również inne koszty aby wyliczyć całkowity koszt projektu.</span><strong th:text="#{index.tutorial.step-6.part-2}">Polecam poruszać się pomiędzy
                    polami formularza za pomocą przycisku </strong> <kbd>Tab</kbd>. <span th:text="#{index.tutorial.step-6.part-3}">Każdy z trzech elementów jest osobnym formularzem, co oznacza że po
                    uzupełnieniu dowolnego z nich należy potwierdzić wprowadzone dane wciskając</span> <kbd>Enter</kbd>.</p>
                    <img class="img-fluid border border-2 border-dark" src="/main/resources/static/images/edit_project.png"
                    alt="Edytuj projekt" th:src="@{/images/edit_project.png}">
            </div>
            <div class="row px-5 py-3">
                <p><strong>5.</strong> 
                    <span th:text="#{index.tutorial.step-7.part-1}">Mamy już dodane wszystkie elementy i płyty. Czas ustalić cenę projektu. Kliknij w pasek </span>
                    <strong th:text="#{index.tutorial.step-7.set-price}">"Ustal cenę"</strong><span th:text="#{index.tutorial.step-7.part-2}">, a
                    następnie wybierz jaką chcesz zaproponować cenę lub marżę. Podaj jedną z tych dwóch wartości, program sam
                    przeliczy drugą na podstawie danych.</span></p>
                    <img class="img-fluid border border-2 border-dark" src="/main/resources/static/images/edit_price.png"
                    alt="Edytuj projekt" th:src="@{/images/edit_price.png}">
            </div>
            <div class="row px-5 py-3">
                <p><strong>6.</strong> <span th:text="#{index.tutorial.step-8}">Aby zakończyć edycję kliknij w Projekty, a tam sprawdź szczegóły projektu. W razie dowolnych zmian masz
                    zawsze możliwość powrotu do edytora i zmiany danych.</span></p>

            </div>
        </div>
    </div>

</body>

</html>